.hiden {
  display: none;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}
